@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --pink: #EC709A;
    --yellow: #FFE497;
    --dark: #020212;
    --card: #1B1B27;
    --gradient: linear-gradient(to right,#EC709A,#FFE497);
	--white: #FFFFFF;
	--bordergray: #dfd8d8;
}

body, html {
	overflow-x: hidden;
}